## Goodreads

In [1]:
import pandas as pd

In [2]:
goodreads = pd.read_csv('./data/goodreads.csv')

In [3]:
columns = goodreads.columns.tolist()

In [4]:
goodreads[columns[:]].head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [5]:
goodreads[columns[7:]].head()

,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,652,2095690,27591,9/16/2006,Scholastic Inc.
1,870,2153167,29221,9/1/2004,Scholastic Inc.
2,352,6333,244,11/1/2003,Scholastic
3,435,2339585,36325,5/1/2004,Scholastic Inc.
4,2690,41428,164,9/13/2004,Scholastic

In [6]:
for i,x in enumerate(columns):
    print(f"{i+1}. {x}")

1. bookID
2. title
3. authors
4. average_rating
5. isbn
6. isbn13
7. language_code
8.   num_pages
9. ratings_count
10. text_reviews_count
11. publication_date
12. publisher

In [7]:
goodreads.head(10).to_csv('./data/goodreads_sample.csv')

## Good Reads with Genre

In [8]:
goodread_w_genre = pd.read_csv('./data/goodreads_w_genre.csv')

In [9]:
goodread_w_genre_col = goodread_w_genre.columns.tolist()

In [10]:
goodread_w_genre[goodread_w_genre_col[:5]].head()

,Unnamed: 0,Book,Author,Description,Genres
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ..."
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',..."
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical..."
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp..."
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',..."

In [11]:
goodread_w_genre[goodread_w_genre_col[5:]].head()

   Avg_Rating Num_Ratings                                                URL
0        4.27   5,691,311  https://www.goodreads.com/book/show/2657.To_Ki...
1        4.47   9,278,135  https://www.goodreads.com/book/show/72193.Harr...
2        4.28   3,944,155  https://www.goodreads.com/book/show/1885.Pride...
3        4.18   3,488,438  https://www.goodreads.com/book/show/48855.The_...
4        3.98   3,575,172  https://www.goodreads.com/book/show/170448.Ani...

In [12]:
for i,x in enumerate(goodread_w_genre_col):
    print(f"{i+1}. {x}")

1. Unnamed: 0
2. Book
3. Author
4. Description
5. Genres
6. Avg_Rating
7. Num_Ratings
8. URL

In [13]:
goodread_w_genre.head(10).to_csv('./data/goodreads_genre_sample.csv')

In [ ]:
goodreads.columns